.demo-page {
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    max-width: 55em;
}
.demo-page .demo-page-navigation {
    width: 18em;
    padding: 2em 1em;
}

@media only screen and (min-width: 750px) {
    .demo-page .demo-page-content {
        width: 100%;
    }
}

.nice-form-group {
    --nf-input-size: 1rem;
    --nf-input-font-size: calc(var(--nf-input-size) * 0.875);
    --nf-small-font-size: calc(var(--nf-input-size) * 0.875);
    --nf-input-font-family: inherit;
    --nf-label-font-family: inherit;
    --nf-input-color: #20242f;
    --nf-input-border-radius: 0.25rem;
    --nf-input-placeholder-color: #929292;
    --nf-input-border-color: #c0c4c9;
    --nf-input-border-width: 1px;
    --nf-input-border-style: solid;
    --nf-input-border-bottom-width: 2px;
    --nf-input-focus-border-color: #3b4ce2;
    --nf-input-background-color: #fff;
    --nf-invalid-input-border-color: var(--nf-input-border-color);
    --nf-invalid-input-background-color: var(--nf-input-background-color);
    --nf-invalid-input-color: var(--nf-input-color);
    --nf-valid-input-border-color: var(--nf-input-border-color);
    --nf-valid-input-background-color: var(--nf-input-background-color);
    --nf-valid-input-color: inherit;
    --nf-invalid-input-border-bottom-color: red;
    --nf-valid-input-border-bottom-color: green;
    --nf-label-font-size: var(--nf-small-font-size);
    --nf-label-color: #374151;
    --nf-label-font-weight: 500;
    --nf-slider-track-background: #abd6e4;
    --nf-slider-track-height: 0.25rem;
    --nf-slider-thumb-size: calc(var(--nf-slider-track-height) * 4);
    --nf-slider-track-border-radius: var(--nf-slider-track-height);
    --nf-slider-thumb-border-width: 2px;
    --nf-slider-thumb-border-focus-width: 1px;
    --nf-slider-thumb-border-color: #fff;
    --nf-slider-thumb-background: var(--nf-input-focus-border-color);
    display: block;
    margin-top: calc(var(--nf-input-size) * 1.5);
    line-height: 1;
    white-space: nowrap;
    --switch-orb-size: var(--nf-input-size);
    --switch-orb-offset: calc(var(--nf-input-border-width) * 2);
    --switch-width: calc(var(--nf-input-size) * 2.5);
    --switch-height: calc(var(--nf-input-size) * 1.25 + var(--switch-orb-offset));
}

table {
    width: 100%;
    vertical-align: middle;
    border-radius: 30px;
    tr {
        display: grid;
        grid-template-columns: 15% 20% auto;
        grid-gap: 20px;
        padding: 5px;
        margin-bottom: 10px;
    }
    .tr-2 {
        display: grid;
        grid-template-columns: 15% auto !important;
        grid-gap: 20px;
        padding: 5px;
        margin-bottom: 10px;
    }
    thead {
        color: black;
        font-weight: bold;
        text-align: center;
    }
    tbody {
        tr {
            td {
                align-items: center;
                padding: 10px;
                text-align: center;
                border-radius: 30px;
                font-weight: bold;
                overflow: visible;
            }
            td:nth-child(3) {
                padding: 10px;
                text-align: center;
                border-radius: 30px;
                font-weight: bold;
            }
        }
    }
}
